[Unit]
# This unit runs right after the repart service is done
Description=Creates LUKS Scratch Partition
After=systemd-repart.service
Wants=kata-agent.service
Before=kata-agent.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/create-scratch.sh

[Install]
WantedBy=multi-user.target